body {
}

#bgimg
{
  background-image: url("BgImg.jpg"); /* Using a royalty free and free for commercial use image that does not require permission nor attribution */ /* Image by Wilfried Vowoto (https://unsplash.com/photos/9-VxSBJz6F8)*/
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100vw;
  height: 93vh; /* Got 93vh so that the scrolling doesn't show and so the image will fit the browser no matter if you zoom out or make the window smaller */
}

.navbar
{
  width: 100vw;
  height: 7vh;
}

.text {
  color: white;
}

.Logo {
  float: none;
}

.Margin {
  margin-right: -12px;
  list-style: none;
}

.own-area-test.container {
  max-width: 1920px;
  padding-right: 25px;
  padding-left: 25px;
}

.own-area-test {
  overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  position: relative;
}

  /*.cover-area { display: block; }*/
